* {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  font-size: 1.6rem;
  color: white;
  fill: white;
  overflow-x: hidden;
}

.cl__body-overflow {
  overflow-y: hidden;
}

img,
svg {
  width: 100%;
  display: block;
}

button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

header h2,
.search-icon,
header nav ul li,
.header__menu,
.header__nav-close-btn,
.header__map svg,
.card__img,
.row-2__card__img,
.cards__btn,
.footer__disclaimer h2,
.footer__quick-links ul li,
.footer__follow ul li div,
.footer__follow p {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header {
  height: 100vh;
  min-height: 78.56rem;
  background-image: url(/images/header-background.jpg);
  background-position: center;
  background-size: cover;
  isolation: isolate;
  position: relative;
}

header::before {
  content: '';
  position: absolute;
  background: black;
  background: linear-gradient(160deg, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.71) 100%);
  inset: 0;
  z-index: -1;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 4.5rem;
  padding-inline: 10%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 1010px) {
  header nav {
    padding-inline: 5%;
  }
}

header nav h2 {
  font-weight: 700;
  font-size: 2rem;
  color: #fcd116;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  margin-left: auto;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

header nav ul .header__nav-close-btn {
  display: none;
  position: absolute;
}

header nav ul li {
  list-style-type: none;
  padding-bottom: 0.5rem;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  margin-bottom: -1px;
  border-bottom: 0.2rem solid rgba(252, 209, 22, 0);
}

header nav ul li:hover {
  border-bottom: 0.2rem solid #fcd116;
}

header nav .search-icon {
  width: 2.3rem;
  margin-left: 4rem;
}

header nav .search-icon svg {
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

header nav .search-icon svg:hover {
  fill: #fcd116;
}

header nav .header__menu {
  width: 2.3rem;
  margin-left: 2rem;
  display: none;
}

header nav .header__menu svg {
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

header nav .header__menu svg:hover {
  fill: #fcd116;
}

@media screen and (max-width: 750px) {
  header nav ul {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #0f1626;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 99999;
    overflow: hidden;
    width: 0;
  }
  header nav ul .header__nav-close-btn {
    display: block;
    width: 2rem;
    top: 5rem;
    right: 5%;
  }
  header nav ul .header__nav-close-btn svg {
    -webkit-transition: 200ms ease;
    transition: 200ms ease;
  }
  header nav ul .header__nav-close-btn svg:hover {
    fill: #fcd116;
  }
  header nav .search-icon {
    margin-left: auto;
  }
  header nav .header__menu {
    display: block;
  }
}

header nav .ul-transition {
  width: 100%;
}

@media screen and (max-width: 750px) {
  header nav {
    position: static;
  }
}

header .header__main {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-inline: 5%;
}

header .header__main .header__intro > * + * {
  margin-top: 2rem;
}

header .header__main .header__intro h1 {
  font-size: 48.83px;
  font-size: clamp(31.25px, 5vw, 48.83px);
  font-weight: 700;
}

header .header__main .header__intro h1 span {
  color: #fcd116;
  font-weight: 700;
}

header .header__main .header__intro button {
  background-color: transparent;
  border: 0.1rem solid white;
  font-size: 1.4rem;
  padding: 1rem 2.5rem;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  color: white;
}

header .header__main .header__intro button:hover {
  border: 0.1rem solid #fcd116;
  color: #fcd116;
}

@media screen and (max-width: 750px) {
  header .header__main .header__intro {
    text-align: center;
    margin-top: 7.5rem;
  }
}

header .header__main .header__map {
  margin-top: 5rem;
  width: 38.7rem;
  position: relative;
}

header .header__main .header__map .locations {
  position: absolute;
  width: 1.6rem;
  fill: tomato;
}

header .header__main .header__map .locations::before {
  position: absolute;
  color: white;
  background-color: tomato;
  bottom: calc(100% + 0.25rem);
  left: calc(100% + 0.25rem);
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-bottom-left-radius: 0;
  font-size: 1.28rem;
  font-weight: 400;
  opacity: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  z-index: 99;
  pointer-events: none;
}

header .header__main .header__map .locations:hover::before {
  opacity: 1;
}

@media screen and (max-width: 520px) {
  header .header__main .header__map .locations {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  header .header__main .header__map .locations::before {
    bottom: calc(100% + 0.25rem);
    right: calc(100% + 0.25rem);
    left: auto;
  }
}

header .header__main .header__map .location-1 {
  top: 1.23rem;
  left: 12.7rem;
}

header .header__main .header__map .location-1::before {
  content: 'Cordillera Administrative Region';
}

header .header__main .header__map .location-2 {
  left: 16rem;
  top: 6rem;
}

header .header__main .header__map .location-2::before {
  content: 'Cagayan Valley';
}

header .header__main .header__map .location-3 {
  top: 10.3rem;
  left: 12rem;
}

header .header__main .header__map .location-3::before {
  content: 'Ilocos Region';
}

header .header__main .header__map .location-4 {
  top: 14.1rem;
  left: 12.6rem;
}

header .header__main .header__map .location-4::before {
  content: 'Central Luzon';
}

header .header__main .header__map .location-5 {
  top: 16.3rem;
  left: 14.34rem;
}

header .header__main .header__map .location-5::before {
  content: 'National Capital Region';
}

header .header__main .header__map .location-6 {
  top: 19.3rem;
  left: 15.1rem;
}

header .header__main .header__map .location-6::before {
  content: 'CALABARZON';
}

header .header__main .header__map .location-7 {
  top: 22rem;
  left: 23.8rem;
}

header .header__main .header__map .location-7::before {
  content: 'Bicol Region';
}

header .header__main .header__map .location-8 {
  top: 32.3rem;
  left: 20.6rem;
}

header .header__main .header__map .location-8::before {
  content: 'Western Visayas';
}

header .header__main .header__map .location-9 {
  top: 34.7rem;
  left: 8.8rem;
}

header .header__main .header__map .location-9::before {
  content: 'MIMAROPA';
}

header .header__main .header__map .location-10 {
  top: 28.28rem;
  left: 30.93rem;
}

header .header__main .header__map .location-10::before {
  content: 'Easten Visayas';
}

header .header__main .header__map .location-11 {
  top: 38.49rem;
  left: 28.09rem;
}

header .header__main .header__map .location-11::before {
  content: 'Central Visayas';
}

header .header__main .header__map .location-12 {
  top: 47.23rem;
  left: 24.09rem;
}

header .header__main .header__map .location-12::before {
  content: 'Zamboanga Peninsula';
}

header .header__main .header__map .location-13 {
  top: 44.62rem;
  left: 34.52rem;
}

header .header__main .header__map .location-13::before {
  content: 'Caraga Region';
}

header .header__main .header__map .location-14 {
  top: 46.5rem;
  left: 31.37rem;
}

header .header__main .header__map .location-14::before {
  content: 'Northern Mindanao';
}

header .header__main .header__map .location-15 {
  top: 50.84rem;
  left: 36.26rem;
}

header .header__main .header__map .location-15::before {
  content: 'Davao Region';
}

header .header__main .header__map .location-16 {
  top: 54.94rem;
  left: 30.72rem;
}

header .header__main .header__map .location-16::before {
  content: 'SOCCSKSARGEN';
}

@media screen and (max-width: 520px) {
  header .header__main .header__map {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media screen and (max-width: 750px) {
  header .header__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 110rem;
  }
}

@media screen and (max-width: 520px) {
  header .header__main {
    min-height: 95.16rem;
  }
}

@media screen and (max-width: 750px) {
  header {
    height: auto;
  }
}

main {
  background-color: #0f1626;
}

main .main__modal-description {
  overflow: hidden;
  border: 0.1rem solid white;
  background-color: #0f1626;
  max-width: 74.7rem;
  position: fixed;
  z-index: 900;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-box-shadow: 0 0 100vw 100vw rgba(0, 0, 0, 0.75);
          box-shadow: 0 0 100vw 100vw rgba(0, 0, 0, 0.75);
  width: 90%;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  max-height: calc(100% - 10rem);
  overflow-y: auto;
}

main .main__modal-description .modal__header {
  position: relative;
  height: 20rem;
}

main .main__modal-description .modal__header img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
}

main .main__modal-description .modal__header h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-size: 31.25px;
  text-transform: uppercase;
  color: #fcd116;
  font-weight: 700;
  width: 100%;
}

main .main__modal-description .modal__header::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

main .main__modal-description .modal__description {
  padding: 4rem;
}

main .main__modal-description .modal__description p {
  line-height: 2;
  text-align: center;
  font-weight: 400;
}

main .main__modal-transition {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

main .row-1 {
  padding-block: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .row-1 h2 {
  font-size: 31.25px;
  font-weight: 700;
  margin-bottom: 5rem;
  text-align: center;
}

@media screen and (max-width: 650px) {
  main .row-1 h2 {
    font-size: 25px;
  }
}

main .row-2 {
  position: relative;
  background-color: #0f1626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .row-2 .row-2__side-nav {
  background-color: #0f1626;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  position: -webkit-sticky;
  position: sticky;
  min-width: 22rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-block: 5rem;
  top: 0;
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
}

@media screen and (max-width: 650px) {
  main .row-2 .row-2__side-nav {
    display: none;
  }
}

main .row-2 .row-2__side-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70rem;
  width: 100%;
}

main .row-2 .row-2__side-nav ul h4 {
  margin-bottom: 1rem;
  font-size: 25px;
  color: #fcd116;
  font-weight: 700;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-left: 3rem;
}

main .row-2 .row-2__side-nav ul li {
  list-style-type: none;
  cursor: pointer;
  height: 100%;
  line-height: 3.65rem;
  padding-left: 3rem;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

main .row-2 .row-2__side-nav ul li:hover {
  background-color: rgba(255, 255, 255, 0.05);
  padding-left: 3.5rem;
}

main .row-2 .row-2__side-nav ul .side-nav__li-trans {
  background-color: rgba(255, 255, 255, 0.05);
  padding-left: 3.5rem;
}

main .row-2 .row-2__contents {
  padding-block: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15rem;
  width: 100%;
  padding-bottom: 25rem;
}

main .row-2 .row-2__contents .carousel h2 {
  margin-bottom: 2.5rem;
  font-size: 25px;
  font-weight: 700;
}

.carousel {
  max-width: 115.2rem;
  width: 75%;
}

@media screen and (max-width: 650px) {
  .carousel h2 {
    text-align: center;
  }
}

.carousel .cards__container .cards__overflow .cards__scroll-container {
  gap: 0.5rem;
}

.carousel .cards__container .cards__overflow .cards__scroll-container .card__img {
  border-radius: 0.25rem;
}

.cards__container {
  position: relative;
}

.cards__container .cards__overflow {
  overflow: hidden;
}

.cards__container .cards__overflow .cards__scroll-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  position: relative;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.cards__container .cards__overflow .cards__scroll-container .card__img {
  isolation: isolate;
  position: relative;
  overflow: hidden;
  aspect-ratio: 2 / 3;
  width: 100%;
}

.cards__container .cards__overflow .cards__scroll-container .card__img img {
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.cards__container .cards__overflow .cards__scroll-container .card__img::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 4;
}

.cards__container .cards__overflow .cards__scroll-container .card__img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cards__container .cards__overflow .cards__scroll-container .card__img:hover::before {
  opacity: 0;
}

.cards__container .cards__overflow .cards__scroll-container .card__img .card__info {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.cards__container .cards__overflow .cards__scroll-container .card__img .card__info .card__location-icon {
  width: 1.2rem;
}

.cards__container .cards__overflow .cards__scroll-container .card__img .card__info .card__location-icon svg {
  fill: #fcd116;
}

.cards__container .cards__overflow .cards__scroll-container .card__img .card__info h4 {
  font-size: 16px;
  font-weight: 600;
  margin-left: 0.75rem;
}

.cards__container .cards__left-btn,
.cards__container .cards__right-btn {
  position: absolute;
  z-index: 800;
}

.cards__container .cards__left-btn,
.cards__container .cards__right-btn {
  width: 1.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.25;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.cards__container .cards__left-btn:hover,
.cards__container .cards__right-btn:hover {
  opacity: 1;
}

.cards__container .cards__left-btn {
  left: -4rem;
  -webkit-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
}

@media screen and (max-width: 500px) {
  .cards__container .cards__left-btn {
    left: -3rem;
  }
}

.cards__container .cards__right-btn {
  right: -4rem;
}

@media screen and (max-width: 500px) {
  .cards__container .cards__right-btn {
    right: -3rem;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #101010;
  padding-inline: 10%;
  padding-block: 10rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .footer__disclaimer h2 {
  font-size: 31.25px;
  font-weight: 600;
  color: #fcd116;
}

footer .footer__disclaimer .footer__credits {
  margin-top: 3.8rem;
  font-size: 1.28rem;
  opacity: 0.75;
  font-weight: 400;
}

footer .footer__disclaimer .footer__credits a {
  color: white;
  text-decoration: underline;
}

footer .footer__quick-links h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 2rem;
}

footer .footer__quick-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2rem;
}

footer .footer__quick-links ul li {
  list-style-type: none;
  padding-bottom: 0.5rem;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  margin-bottom: -1px;
  border-bottom: 0.2rem solid rgba(252, 209, 22, 0);
}

footer .footer__quick-links ul li:hover {
  border-bottom: 0.2rem solid #fcd116;
}

footer .footer__follow h2 {
  font-size: 25px;
  font-weight: 700;
}

footer .footer__follow ul {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}

footer .footer__follow ul li {
  list-style-type: none;
}

footer .footer__follow ul .footer__fb-icon {
  width: 0.9rem;
}

footer .footer__follow ul .footer__ig-icon {
  width: 1.8rem;
}

footer .footer__follow ul .footer__be-icon {
  width: 2.7rem;
}

footer .footer__follow ul .footer__dribb-icon {
  width: 1.6rem;
}

footer .footer__follow p {
  margin-top: 4rem;
  color: #fcd116;
}

@media screen and (max-width: 950px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10rem;
  }
  footer > * {
    text-align: center;
  }
  footer .footer__quick-links ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */