* {
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;

  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

// *:hover {
//   outline: 1px solid red;
// }

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  color: white;
  fill: white;
}

img,
svg {
  width: 100%;
  display: block;
}

button {
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

$f1: 48.83px;
$f2: 39.06px;
$f3: 31.25px;
$f4: 25px;
$f5: 20px;
$f6: 16px;
$fs: 12.8px;

$yellow: #fcd116;
$blue: #0f1626;
$darkblue: #0d111f;

@mixin width-auto {
  width: min(90%, 72.6rem);
  margin-inline: auto;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header h2,
.search-icon,
header nav ul li,
.header__map svg,
.col-1__img,
.col-2__card-img {
  cursor: pointer;
  user-select: none;
}

header {
  height: 100vh;
  background-image: url(/images/header-background.jpg);
  background-position: center;
  background-size: cover;
  isolation: isolate;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(160deg, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0.71) 100%);
    inset: 0;
    z-index: -1;
  }
  nav {
    display: flex;
    align-items: center;
    padding-block: 4.5rem;
    padding-inline: 10%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @media screen and (max-width: 1010px) {
      padding-inline: 5%;
    }
    h2 {
      font-weight: 700;
      font-size: 2rem;
      color: $yellow;
      cursor: pointer;
      user-select: none;
    }
    ul {
      display: flex;
      gap: 4rem;
      margin-left: auto;
      li {
        list-style-type: none;
        padding-bottom: 0.5rem;
        &:hover {
          border-bottom: 0.1rem solid $yellow;
          margin-bottom: -1px;
        }
      }
    }
    .search-icon {
      width: 2.5rem;
      margin-left: 4rem;
      svg {
        transition: 0.2s;
        &:hover {
          fill: $yellow;
        }
      }
    }
  }
  .header__main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    margin-inline: 5%;
    @media screen and (max-width: 1010px) {
      gap: 0rem;
    }
    .header__intro {
      > * + * {
        margin-top: 2rem;
      }
      h1 {
        font-size: $f1;
        font-size: clamp($f3, 5vw, $f1);
        font-weight: 700;
        span {
          color: $yellow;
          font-weight: 700;
        }
      }
      button {
        background-color: transparent;
        border: 0.1rem solid white;
        font-size: 1.4rem;
        padding: 1rem 2.5rem;
        transition: 0.25s;
        color: white;
        &:hover {
          border: 0.1rem solid $yellow;
          color: $yellow;
        }
      }
    }
    .header__map {
      margin-top: 5rem;
      width: 38.7rem;
      position: relative;
      .locations {
        position: absolute;
        width: 1.6rem;
        fill: tomato;
        &::before {
          position: absolute;
          color: white;
          background-color: tomato;
          bottom: calc(100% + 0.25rem);
          left: calc(100% + 0.25rem);
          padding: 0.5rem;
          border-radius: 0.5rem;
          width: max-content;
          border-bottom-left-radius: 0;
          font-size: 1.28rem;
          font-weight: 400;
          opacity: 0;
          transition: 0.25s;
          z-index: 99;
          pointer-events: none;
        }
        &:hover::before {
          opacity: 1;
        }
      }
      .location-1 {
        top: 1.23rem;
        left: 12.7rem;
        &::before {
          content: 'Cordillera Administrative Region';
        }
      }
      .location-2 {
        left: 16rem;
        top: 6rem;
        &::before {
          content: 'Cagayan Valley';
        }
      }
      .location-3 {
        top: 10.3rem;
        left: 12rem;
        &::before {
          content: 'Ilocos Region';
        }
      }
      .location-4 {
        top: 14.1rem;
        left: 12.6rem;
        &::before {
          content: 'Central Luzon';
        }
      }
      .location-5 {
        top: 16.3rem;
        left: 14.34rem;
        &::before {
          content: 'National Capital Region';
        }
      }
      .location-6 {
        top: 19.3rem;
        left: 15.1rem;
        &::before {
          content: 'CALABARZON';
        }
      }
      .location-7 {
        top: 22rem;
        left: 23.8rem;
        &::before {
          content: 'Bicol Region';
        }
      }
      .location-8 {
        top: 32.3rem;
        left: 20.6rem;
        &::before {
          content: 'Western Visayas';
        }
      }
      .location-9 {
        top: 34.7rem;
        left: 8.8rem;
        &::before {
          content: 'MIMAROPA';
        }
      }
      .location-10 {
        top: 28.28rem;
        left: 30.93rem;
        &::before {
          content: 'Easten Visayas';
        }
      }
      .location-11 {
        top: 38.49rem;
        left: 28.09rem;
        &::before {
          content: 'Central Visayas';
        }
      }
      .location-12 {
        top: 47.23rem;
        left: 24.09rem;
        &::before {
          content: 'Zamboanga Peninsula';
        }
      }

      .location-13 {
        top: 44.62rem;
        left: 34.52rem;
        &::before {
          content: 'Caraga Region';
        }
      }
      .location-14 {
        top: 46.5rem;
        left: 31.37rem;
        &::before {
          content: 'Northern Mindanao';
        }
      }
      .location-15 {
        top: 50.84rem;
        left: 36.26rem;
        &::before {
          content: 'Davao Region';
        }
      }
      .location-16 {
        top: 54.94rem;
        left: 30.72rem;
        &::before {
          content: 'SOCCSKSARGEN';
        }
      }
    }
  }
}

main {
  background-color: $blue;

  .main__modal-description {
    overflow: hidden;
    border: 0.1rem solid white;
    background-color: $blue;
    max-width: 74.7rem;
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    box-shadow: 0 0 100vw 100vw rgba(0, 0, 0, 0.75);
    width: 90%;
    opacity: 0;
    transition: 0.2s;
    .modal__header {
      position: relative;
      height: 20rem;
      img {
        object-fit: cover;
        object-position: center;
        height: 100%;
      }
      h2 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: $f3;
        text-transform: uppercase;
        color: $yellow;
        font-weight: 700;
        width: 100%;
      }
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.75);
      }
    }
    .modal__description {
      padding: 4rem;
      p {
        line-height: 2;
        text-align: center;
        font-weight: 400;
      }
    }
  }
  .main__modal-transition {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  .col-1 {
    padding-block: 15.73rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2;
    h2 {
      font-size: $f3;
      font-weight: 700;
      margin-bottom: 5rem;
    }
    .col-1__cards-container {
      display: flex;
      gap: 1rem;
      width: 90%;
      max-width: 115.2rem;
      & .col-1__img:nth-child(even) {
        margin-top: 4rem;
      }
      .col-1__img {
        isolation: isolate;
        position: relative;
        height: min-content;
        overflow: hidden;
        img {
          transition: 1s;
        }
        &::before {
          content: '';
          position: absolute;
          inset: 0;
          background-color: rgba(0, 0, 0, 0.25);
          transition: 1s;
          z-index: 4;
        }
        &:hover img {
          transform: scale(1.1);
        }
        &:hover::before {
          opacity: 0;
        }
      }
      .col-1__card-info {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        display: flex;
        align-items: center;
        z-index: 5;
        .col-1__location-icon {
          width: 1.2rem;
          svg {
            fill: $yellow;
          }
        }
        h4 {
          font-size: $f6;
          font-weight: 700;
          margin-left: 0.75rem;
        }
      }
    }
  }

  .col-2 {
    position: relative;
    background-color: $darkblue;
    padding-top: 5.3rem;

    .col-2__side-nav {
      padding-block: 5.3rem;
      position: sticky;
      top: 0;
      height: 100vh;
      width: 24rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        h4 {
          margin-bottom: 1rem;
          font-size: $f4;
          color: $yellow;
          font-weight: 700;
          align-self: flex-start;
          padding-left: 3rem;
        }
        li {
          list-style-type: none;
          cursor: pointer;
          height: 100%;
          line-height: 3.65rem;
          padding-left: 3rem;
          transition: 0.25s;
          &:hover {
            background-color: rgba(255, 255, 255, 0.05);
          }
        }
      }
    }

    .col-2__contents {
      margin-top: -100vh;
      margin-left: 24rem;
      padding-block: 5.3rem;
      display: flex;
      flex-direction: column;
      .regions {
        margin-inline: auto;
        margin-bottom: 15rem; // temporary
        h2 {
          font-size: $f3;
          font-weight: 700;
          margin-bottom: 3rem;
        }
        .col-2__cards-container {
          width: 100%;
          max-width: 91.8rem;
          display: flex;
          gap: 1rem;
          .col-2__card-img {
            isolation: isolate;
            position: relative;
            overflow: hidden;
            img {
              transition: 1s;
            }
            &::before {
              content: '';
              position: absolute;
              inset: 0;
              background-color: rgba(0, 0, 0, 0.25);
              transition: 1s;
              z-index: 4;
            }
            &:hover img {
              transform: scale(1.1);
            }
            &:hover::before {
              opacity: 0;
            }
            .col-2__card-info {
              position: absolute;
              bottom: 2rem;
              left: 2rem;
              display: flex;
              align-items: center;
              z-index: 5;
              .col-2__location-icon {
                width: 1.2rem !important;
                svg {
                  fill: $yellow;
                }
              }
              h4 {
                font-size: $f6;
                font-weight: 700;
                margin-left: 0.75rem;
              }
            }
          }
        }
      }
    }
  }
}

// <div class="col-2">
// <nav class="col-2__side-nav">
//   <h4>Regions</h4>
//   <ul>
//     <li>CAR</li>
//     <li>Ilocos Region</li>
//     <li>Cagayan Valley</li>
//     <li>Central Luzon</li>
//     <li>CALABARZON</li>
//     <li>NCR</li>
//     <li>MIMAROPA</li>
//     <li>Bicol Region</li>
//     <li>Western Visayas</li>
//     <li>Central Visayas</li>
//     <li>Eastern Visayas</li>
//     <li>Zamboanga Peninsula</li>
//     <li>Northern Mindanao</li>
//     <li>Davao Region</li>
//     <li>SOCCSKSARGEN</li>
//     <li>Caraga Region</li>
//   </ul>
// </nav>
// <div class="col-2__contents">
//   <div class="region-1">
//     <h2>Cordillera Administrative Region</h2>
//     <div class="col-2__cards-container">
//       <div class="col-2__card-img">
//         <img src="images/CAR/Baguio.jpg" alt="baguio" />
//       </div>
//       <div class="col-2__card-img">
//         <img src="images/CAR/Mountain-Province.jpg" alt="mountain province" />
//       </div>
//       <div class="col-2__card-img">
//         <img src="images/CAR/Benguet.jpg" alt="benguet" />
//       </div>
//       <div class="col-2__card-img">
//         <img src="images/CAR/Mountain-Province.jpg" alt="mountain province" />
//       </div>
//     </div>
//   </div>
// </div>
// </div>
